mat-card {
  border-radius: 20px;
  margin-inline: auto;
  padding: 32px;
  margin-top: 20px;
  max-width: 900px;
  min-width: 500px;
}

.account-picture {
  background-size: cover;
  margin-block: auto;
  width: 120px;
  height: 120px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(133, 133, 133);
  cursor: pointer;
}

.header-container {
  width: 100%;
  margin-block: auto;
}

.grid-subtitle {
  width: 100%;
  font-size: larger;
  cursor: pointer;
}

.grid-button {
  width: 60%;
  border-radius: 20px;
}

mat-divider {
  margin-block: 20px;
}

.image-thumbnail {
  border-radius: 25px;
  cursor: pointer;
  width: 90%;
  height: 90%;
}
