<mat-card>
  <mat-card-header>
    <img
      class="account-picture"
      mat-card-avatar
      [src]="user.mainPhotoUrl || '../../assets/temp-images/default_avatar.jpg'"
    />
    <div class="header-container">
      <mat-card-title>{{ user.userName }}</mat-card-title>
      <mat-grid-list cols="3" rowHeight="40px" style="margin-top: 20px">
        <mat-grid-tile
          ><mat-card-subtitle class="grid-subtitle"
            >Posts: {{ photos.length }}</mat-card-subtitle
          ></mat-grid-tile
        >
        <mat-grid-tile
          ><mat-card-subtitle class="grid-subtitle"  (click)="openFollowersDialog()"
            > Followers: {{ followers.length }}</mat-card-subtitle
          ></mat-grid-tile
        >
        <mat-grid-tile
          ><mat-card-subtitle class="grid-subtitle" (click)="openFolloweesDialog()"
            >Followees: {{ followees.length }}</mat-card-subtitle
          ></mat-grid-tile
        >
      </mat-grid-list>
    </div>
  </mat-card-header>
  <mat-card-content style="margin-top: 30px; padding: 32px;">
    <mat-card-title style="text-transform: capitalize; margin-bottom: 15px;">{{user.firstName}} {{user.lastName}}</mat-card-title>
    <mat-card-subtitle style="text-transform: capitalize;">{{user.city}}</mat-card-subtitle>
    <mat-card-subtitle>{{user.description}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-content >
    <mat-grid-list *ngIf="!isMine" cols="2" rowHeight="50px" style="margin-top: 30px">
      <mat-grid-tile
        ><button mat-raised-button color="accent" class="grid-button">
          New message
        </button></mat-grid-tile
      >
      <mat-grid-tile *ngIf="!isFollowed"
        ><button
          mat-raised-button
          color="primary"
          class="grid-button"
          (click)="follow()"
        >
          Follow
        </button></mat-grid-tile
      >
      <mat-grid-tile *ngIf="isFollowed"
        ><button
          mat-raised-button
          color="warn"
          class="grid-button"
          (click)="unfollow()"
        >
          Stop following
        </button></mat-grid-tile
      >
    </mat-grid-list>
    <mat-divider *ngIf="photos.length > 0"></mat-divider>
    <mat-grid-list *ngIf="photos.length > 0" cols="3" rowHeight="1:1" style="margin-top: 30px">
      <mat-grid-tile *ngFor="let photo of photos">
        <img class="image-thumbnail" src="{{ photo.url }}" (click)="openPostPreviewDialog(photo)" />
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
