/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card-content {
  padding-inline: 16px;
}

.wide-button {
  width: 100%;
}
.green-snackbar {
  background: #07b925;
}
.red-snackbar {
  background: #b90707;
}