<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile [colspan]="2" style="border-radius: 20px">
    <img class="image-preview" src="{{ data.photo.url }}" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" style="margin-left: 5px; padding: 5px">
    <div class="header-container">
      <mat-card-title>
        Description:
        <mat-card-subtitle>{{ data.photo.description }}</mat-card-subtitle>
      </mat-card-title>
      <mat-card-title>
        Date:
        <mat-card-subtitle>{{ data.photo.dateAdded }}</mat-card-subtitle>
      </mat-card-title>
      <mat-card-title>
        Url:
        <mat-card-subtitle>{{ data.photo.url }}</mat-card-subtitle>
      </mat-card-title>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-card-title class="header-margined"> Comments: </mat-card-title>
<mat-grid-list cols="5">
  <mat-grid-tile [colspan]="2" style="border-radius: 25px">
    <li *ngFor="let comment of comments">
      <!-- <ng-container *ngIf="user?.id == comment?.userId"> -->
      <div class="container-all">
        <div class="container-img">
          <p class="nickname-form">
            <img
              class="account-picture"
              mat-card-avatar
              [src]="
                comment?.userMainPhotoUrl ||
                '../../assets/temp-images/default_avatar.jpg'
              "
            />{{ comment.userUserName }}
          </p>
        </div>
        <div class="container-content">
          <p class="">
            {{ comment?.content }}
          </p>
        </div>
      </div>
    </li>
  </mat-grid-tile>
</mat-grid-list>
